/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}
.SingIn{
    margin-bottom: 20px;
    color: #353535;
    font-size: 24px;
}
.wrap{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrapper-content{
    max-width: 600px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.input-box{
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    transition: 0.3s linear all;
    position: absolute;
    top:-150%;
    left:50%;
    transform:translate(-50%, -50%);
}
.titlePopup{
    color: #353535;
}
.inputCode{
    border: 1px solid #d1cfcf;
    height: 25px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.2s linear all;
}
.inputDescription{
    border: 1px solid #d1cfcf;
    height: 25px;
    padding: 5px;
    font-size: 14px;
    transition: 0.2s linear all;
}
.box-item{
    margin-top: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
}
.list-item{
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: #afa6a6;
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: 600;
    font-size: 18px;
}
.code{
    font-size: 16px;
    font-weight: 400;
}
.product{
    font-size: 16px;
    font-weight: 400;
}
.addButton{
    margin-top: 10px;
    
    padding: 3px;
    font-size: 16px;
    color:#000000;
    background-color: #b9b9b9;
    opacity: 0.5;
    
}
.popupButton{
    background-image: url(add.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    position: absolute;
    bottom: 20px;
    transition: 0.2s linear opacity;
    background-color: #ffffff;
}
.popupButton:hover{
    opacity: 1;
}


.close{
    align-self: flex-end;
    font-size: 14px;
    width: 20px;
    height: 20px;
    background-color: #f2f2f2;
    background-image: url(close.svg);
    background-repeat: no-repeat;
    opacity: 0.8;
}
.close:hover{
    opacity: 1;
}

.cleanButton{
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #f2f2f2;
    position: absolute;
    right: 0;
    bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
